<section class="relative flex flex-col md:flex-row justify-end -mx-3 md:pt-42 pb-12 md:pb-21 lg:before:absolute lg:before:w-2/3 lg:before:min-h-full lg:before:top-0 lg:before:bg-indigo-950">
    <picture class="mx-auto md:mx-0 md:absolute left-0 top-41.5">
        <source media="(min-width: 1024px)" srcset="/img/banner-xl.png">
        <source media="(min-width: 768px)" srcset="/img/banner-md.png">
        <img src="/img/banner-xs.png">
    </picture>
    <div class="md:w-102 lg:w-3xl px-5 lg:px-3.75 md:mr-9 py-12 md:py-35 z-10">
        <h1 class="banner-title font-bold mb-8 leading-[1.2]">I’m Robin Williams. A Product Designer <span class="text-gray-400">based in Italy.</span></h1>
        <p class="text-lg">I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.</p>
    </div>
</section>