<section class="max-w-4xl px-5 md:px-10 lg:px-18 mx-auto grid md:grid-cols-2 md:gap-6 items-start py-16 md:py-20 lg:py-30">
        <div>
            <h2 class="text-3xl md:text-5xl font-bold mb-4 md:mb-6">Let’s get started</h2>
            <p class="text-lg text-gray-500 max-w-147 mb-12 md:mb-10">Now that you know a lot about me, let me know if you are interested to work with me.</p>
        </div>
        <div class="grid gap-y-12 md:gap-y-16 lg:gap-y-30">
            <form class="grid gap-y-10">
                <div class="grid">
                    <label for="user-name" class="mb-2">Name</label>
                    <input id="user-name" class="bg-indigo-950 p-3.25 outline-none" type="text">
                </div>
                <div class="grid">
                    <label for="user-email" class="mb-2">Email</label>
                    <input id="user-email" class="bg-indigo-950 p-3.25 outline-none" type="email">
                </div>
                <div class="grid">
                    <label for="user-message" class="mb-2">Message</label>
                    <textarea id="user-message" class="bg-indigo-950 p-3.25 min-h-25 max-h-50 outline-none"></textarea>
                </div>
                <button type="submit" class="text-lg font-bold uppercase py-6 px-8 border border-purple cursor-pointer hover:bg-purple">Let’s get started</button>
            </form>
        </div>
</section>