<section class="max-w-7xl mx-auto w-full px-5 md:px-10 lg:px-18 py-12 md:py-20 lg:py-30">
        <h6 class="text-gray-500 font-bold uppercase">work experience</h6>
        <h2 class="text-3xl md:text-5xl font-bold max-w-172.25 mb-10">Companies I have worked for in the past</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-6">
            <article>
                <div class="text-9xl leading-[1.2] text-gray-500">01</div>
                <h5 class="text-2xl font-bold leading-normal mb-4 md:mb-6 lg:mb-5.5"><span class="text-green-400">Google</span>, Interaction Designer</h5>
                <p class="text-gray-500 max-w-92">I currently am the lead designer on the interaction design team for Google Play.</p>
            </article>
            <article>
                <div class="text-9xl leading-[1.2] text-gray-500">02</div>
                <h5 class="text-2xl font-bold leading-normal mb-4 md:mb-6 lg:mb-5.5"><span class="text-blue-400">Facebook </span>, Product Designer </h5>
                <p class="text-gray-500 max-w-92">I’ve worked on a wide variety of internal tools for facebook over the past 6 years. </p>
            </article>
            <article>
                <div class="text-9xl leading-[1.2] text-gray-500">03</div>
                <h5 class="text-2xl font-bold leading-normal mb-4 md:mb-6 lg:mb-5.5"><span class="text-pink-400">Dribbble </span>, Graphic Designer </h5>
                <p class="text-gray-500 max-w-92">I started my design career with Dribbble. I was incharge of creating illustrations for the platform.</p>
            </article>
        </div>
</section>