<header class="max-w-7xl mx-auto w-full px-5 md:px-10 lg:px-18 flex items-center relative py-6 md:py-0 md:-mb-22 z-20">
    <div class="w-19.5 h-6">
        <img src="assets/img/logo.svg" alt="logo">
    </div>
    <div id="mobile-container" class="bg-indigo-950 ml-auto hidden md:block absolute md:static md:bg-transparent top-18 left-0 w-full md:w-auto">
        <nav class="flex flex-col md:flex-row">
            <a href="#" class="px-6 py-7.75 leading-normal hover:bg-purple hover:font-bold transition duration-300">Experience</a>
            <a href="#" class="px-6 py-7.75 leading-normal hover:bg-purple hover:font-bold transition duration-300">Work</a>
            <a href="#" class="px-6 py-7.75 leading-normal hover:bg-purple hover:font-bold transition duration-300">Photography</a>
            <a href="#" class="px-6 py-7.75 leading-normal hover:bg-purple hover:font-bold transition duration-300">Contact</a>
    </nav>
    </div>
    <button type="button" id="burger" class="relative w-6 h-6 cursor-pointer ml-auto before:absolute before:bg-neutral-300 before:w-4.5 before:h-0.75 before:top-1.5 before:left-1 after:absolute after:bg-neutral-300 after:w-3.75 after:h-0.75 after:top-3.5 after:right-0.5 hover:before:bg-purple hover:after:bg-purple md:hidden">

    </button>
</header>
<main>