<section class="grid grid-cols-1 md:grid-cols-2 bg-amber-100 -mx-3">
    <div class="flex flex-col items-start py-12 md:py-20 lg:py-30 px-5 md:px-10 lg:px-18">
        <h2 class="text-indigo-950 text-3xl md:text-5xl font-bold mb-6 leading-[1.2]">Philosophy & values </h2>
        <p class="text-lg text-gray-600">I think everyone wants the same thing - relationship with humanity, peace with the
            metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity,
            creativity, & hospitality.</p>
        <a href="#" class="text-indigo-950 mt-auto pb-1 border-b border-gray-500">More about me </a>
    </div>
    <div>   
        <img src="/img/philosophy.png" class="object-cover w-full h-112.5 md:h-full" alt="philosophy">
    </div>
</section>