<section class="max-w-7xl mx-auto w-full px-5 md:px-10 lg:px-18 py-12 md:py-20 lg:py-30">
        <h2 class="text-3xl md:text-5xl font-bold mb-6">Photography</h2>
        <p class="text-gray-500 text-lg max-w-147 mb-10 md:mb-16">Here is a collection of my best travel pictures that I took while  travelling places all around the world.</p>
        <div id="tabs" class="tabs">
            <nav id="tabs-nav" class="grid grid-cols-2 sm:flex gap-6 mb-10">
                <button type="button" data-tab-content="content-1" class="text-lg font-bold leading-normal uppercase py-2.75 px-4 cursor-pointer border border-purple hover:bg-purple bg-purple">ITALY</button>
                <button type="button" data-tab-content="content-2" class="text-lg font-bold leading-normal uppercase py-2.75 px-4 cursor-pointer border border-purple hover:bg-purple">AUSTRALIA</button>
                <button type="button" data-tab-content="content-3" class="text-lg font-bold leading-normal uppercase py-2.75 px-4 cursor-pointer border border-purple hover:bg-purple">INDIA</button>
                <button type="button" data-tab-content="content-4" class="text-lg font-bold leading-normal uppercase py-2.75 px-4 cursor-pointer border border-purple hover:bg-purple">BRAZIL</button>
            </nav>
            <div>
                <div id="content-1" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
                    <img src="assets/img/italy-1.png" class="w-100 mx-auto" alt="Italy">
                    <img src="assets/img/italy-2.png" class="w-100 mx-auto" alt="Italy">
                    <img src="assets/img/italy-3.png" class="w-100 mx-auto" alt="Italy">
                    <img src="assets/img/italy-4.png" class="w-100 mx-auto" alt="Italy">
                </div>
                <div id="content-2" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 hidden">
                    <img src="assets/img/australia-1.png" class="w-100 mx-auto" alt="Australia">
                    <img src="assets/img/australia-2.png" class="w-100 mx-auto" alt="Australia">
                    <img src="assets/img/australia-3.png" class="w-100 mx-auto" alt="Australia">
                    <img src="assets/img/australia-4.png" class="w-100 mx-auto" alt="Australia">
                </div>
                <div id="content-3" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 hidden">
                    <img src="assets/img/india-1.png" class="w-100 mx-auto" alt="India">
                    <img src="assets/img/india-2.png" class="w-100 mx-auto" alt="India">
                    <img src="assets/img/india-3.png" class="w-100 mx-auto" alt="India">
                    <img src="assets/img/india-4.png" class="w-100 mx-auto" alt="India">
                </div>
                <div id="content-4" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 hidden">
                    <img src="assets/img/brazil-1.png" class="w-100 mx-auto" alt="Brazil">
                    <img src="assets/img/brazil-2.png" class="w-100 mx-auto" alt="Brazil">
                    <img src="assets/img/brazil-3.png" class="w-100 mx-auto" alt="Brazil">
                    <img src="assets/img/brazil-4.png" class="w-100 mx-auto" alt="Brazil">
                </div>
            </div>
        </div>
</section>