<section class="max-w-7xl mx-auto w-full px-5 md:px-10 lg:px-18 py-16 md:py-20 lg:py-30 grid grid-cols-1 lg:grid-cols-[1fr_2fr] gap-3">
        <div class="mb-12 lg:mb-0 lg:pr-15">
            <h2 class="text-3xl md:text-5xl font-bold mb-4 md:mb-6">Skillset</h2>
            <p class="text-gray-500 text-lg">With skills in over 4 different fields of design, I am the perfect person to hire when it comes to a full fledged project. Whatever your needs are, I can pretty much take on any challenge.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12">
            <div class="md:pr-12">
                <svg class="text-purple w-8 h-8 mb-6">
                    <use href="#product-design"></use>
                </svg>
                <h3 class="text-2xl font-bold leading-normal mb-3">Product Design</h3>
                <p class="text-gray-500">Working at Facebook has taught me a lot about how to understand users, solve problems and build great products. </p>
            </div>
            <div class="md:pr-12">
                <svg class="text-purple w-8 h-8 mb-6">
                    <use href="#visual-design"></use>
                </svg>
                <h3 class="text-2xl font-bold leading-normal mb-3">Visual Design</h3>
                <p class="text-gray-500">My experience at dribbble has helped me learn to develop the eye for design. Colors, typography, layout and the whole package.</p>
            </div>
            <div class="md:pr-12">
                <svg class="text-purple w-8 h-8 mb-6">
                    <use href="#motion-design"></use>
                </svg>
                <h3 class="text-2xl font-bold leading-normal mb-3">Motion Design</h3>
                <p class="text-gray-500">I started my design journey with motion design in my college days. Motion is something that really fascinates me because of the flexibility of story telling. </p>
            </div>
            <div class="md:pr-12">
                <svg class="text-purple w-8 h-8 mb-6">
                    <use href="#photography"></use>
                </svg>
                <h3 class="text-2xl font-bold leading-normal mb-3">Photography</h3>
                <p class="text-gray-500">Clicking pictures really brings out the creative in me. Phtography really makes you look and percieve things in a different way.</p>
            </div>
        </div>
</section>