@import "tailwindcss";

@font-face {
    font-family: 'Sen';
    src: url(./assets/fonts/Sen-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url(./assets/fonts/Sen-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-purple: #5221E6;
    --color-neutral-300: #C4C4C4;
    --color-indigo-950: #181823;
    --color-gray-400: #808080;
    --color-gray-500: #8491A0;
    --color-gray-600: #5B6876;
    --color-green-400: #3CC74E;
    --color-blue-400: #5221E6;
    --color-pink-400: #E95D90;
    --color-amber-100: #FFF3E4;
    --color-pink-100: #FBE4FF;

    --color-twitter: #26A7DE;
    --color-dribbble: #E94B88;
    --color-linkedin: #0077B5;

    --text-3xl: 32px;
    --text-5xl: 55px;
    --text-9xl: 117px;

    --container-4xl: 1220px;
    --container-5xl: 1320px;
    --container-7xl: 1440px;

    --font-sen: "Sen", sans-serif;
}

@layer components {
    .banner-title {
        font-size: 32px;

        @media (min-width: 768px) {
            font-size: 56px;
        }

        @media (min-width: 1024px) {
            font-size: 78px;
        }
    }

    .swiper-wrapper {
        --swiper-wrapper-transition-timing-function: linear;
    }
}

@media (max-width: 991px) {
    .swiper .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

[alt=""] {
    filter: blur(10px);
    opacity: 0.6;
}