@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
    --color-purple: #5221E6;
    --color-neutral-300: #C4C4C4;
    --color-indigo-950: #181823;
    --color-gray-400: #808080;
    --color-gray-500: #8491A0;
    --color-gray-600: #5B6876;
    --color-green-400: #3CC74E;
    --color-blue-400: #5221E6;
    --color-pink-400: #E95D90;
    --color-amber-100: #FFF3E4;
    --color-pink-100: #FBE4FF;     

    --text-3xl: 32px;
    --text-5xl: 55px;
    --text-9xl: 117px;
    --text-banner-title: 78px;
    --container-5xl: 1320px;
    --container-7xl: 1464px;

    --font-sen: "Sen", sans-serif;
}

@layer components {
    body {
        font-family: var(--font-sen);
        background-color: var(--color-black);
        color: var(--color-white);
    }

    .banner-title {
        font-size: 32px;

        @media (min-width: 768px) {
            font-size: 56px;
        }

        @media (min-width: 1024px) {
            font-size: 78px;
        }
    }
}

[alt=""] {
    filter: blur(10px);
    opacity: 0.6;
}